{extend name="base"}
{block name="title"}我的桌面11{/block}

{block name="crumb"}首页,管理员管理,角色列表{/block}

{block name="content"}


	<div class="page-container">

		<div class="cl pd-5 bg-1 bk-gray">
			<span class="l">
				<a href="{:url('rolesAdd')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a>
			</span>
		</div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
				<tr class="text-c">
					<th width="80">序号</th>
					<th width="100">名称</th>
					<th width="40">状态</th>
					<th width="100">操作</th>
				</tr>
				</thead>
				<tbody>
				{volist name="list" id="vo"}
				<tr class="text-c">
					<td>{$i}</td>
					<td>{$vo['name']}</td>
					<td class="td-status">{:$vo::$fields_status[$vo['status']]}</td>
					<td class="td-manage">
						<a href="{:url('rolesAdd',['id'=>$vo['id']])}">编辑</a>
						<a href="javascript:;" onclick="$.common.del(this,'{:url('rolesDel')}',{'id':{:$vo['id']}})" data-id="{$vo['id']}">删除</a>
					</td>
				</tr>
				{/volist}
				</tbody>
			</table>
		</div>
	</div>

{$page|raw}

{/block}
