{extend name="base"}
{block name="title"}后台登录--管理员{/block}

{block name="style"}
<link href="/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<style>
  .header-title{
    width: 100%;
    padding: 12px 0;
    z-index: 99999;
    position: absolute;
    background: #426374;
  }
  .header-title span{
    margin-left: 12px;
    font-size: 36px;
    color: #fff;
  }
</style>
{/block}

{block name="content"}
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header-title">
  <span>{:config('app_name')}系统-管理员登录</span>
</div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" action="" method="post">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input  name="account" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input  name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input class="input-text size-L" type="text" placeholder="验证码" name="captcha" style="width:150px;">
          <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random()">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <a href="{:url('companyLogin')}">公司用户登录</a>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <button type="submit" class="btn btn-success radius size-L">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</button>
          <button type="reset" class="btn btn-default radius size-L">&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;</button>
        </div>
      </div>
    </form>
  </div>
{/block}