{extend name="base"}
{block name="title"}公司列表{/block}

{block name="crumb"}首页,行业管理,行业列表{/block}

{block name="content"}

<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="{:url('industryAdd')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加行业</a>
		</span>
		<span class="r">共有数据：<strong>{$count|default=0}</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
			<tr class="text-c">
				<th width="80">ID</th>
				<th>行业</th>
				<th width="120">状态</th>
				<th width="140">操作</th>
			</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo"}
			<tr class="text-c">
				<td>{$i}</td>
				<td>{$vo['name']}</td>
				<td class="td-status">{:$vo::$fields_status[$vo['status']]}</td>
				<td class="f-14 td-manage">
					<a href="{:url('industryAdd',['id'=>$vo['id']])}">编辑</a>
					<a href="javascript:;"
					   onclick="$.common.del(this,'{:url('industryDel')}',{'id':{:$vo['id']},'type':1})"
					   data-id="{$vo['id']}">
						删除
					</a>
				</td>
			</tr>
			{/volist}
		</table>
	</div>
</div>

{$page|raw}

{/block}