{extend name="base"}
{block name="title"}我的桌面{/block}

{block name="crumb"}首页,公司管理,签到设置{/block}

{block name="content"}
<div class="page-container">
	<div class="row cl">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-header">
					打卡设置
					<div class="clearfix r">
						<a href="JavaScript:;" onclick="$.common.submit($(this).parent().parent().next().find('form'))" class="btn btn-warning radius size-MINI" >保存</a>
					</div>
				</div>
				<div class="panel-body">
					<form class="layui-form" action="{:url('signAction')}">
						<div class="layui-form-item">
							<label class="layui-form-label">MAC</label>
							<div class="layui-input-block">
								<input type="text" name="sign_mac" value="{$model['sign_mac']}"  placeholder="MAC设置" class="layui-input">
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div class="col-xs-8">

		</div>
	</div>

</div>


{/block}
{block name="script"}

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
    });
</script>
{/block}