{extend name="base"}
{block name="title"}员工管理-工作汇报{/block}

{block name="crumb"}首页,员工管理,工作汇报{/block}

{block name="content"}

<div class="page-container">

	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="60">ID</th>
					<th width="150">汇报日期</th>
					<th>留言内容</th>
					<!--<th width="100">操作</th>-->
				</tr>
			</thead>
			<tbody>
			{empty name="name"}
			<tr class="text-c">
				<td colspan="4" align="center">暂无工作汇报</td>
			</tr>
			{else /}
				{volist name="list" id="vo"}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$vo['id']}</td>
						<td>{$vo['create_time']}</td>
						<td class="text-l">{$vo['content']}</td>
						<!--<td class="td-manage">
							<a href="">查看详情</a>
						</td>-->
					</tr>
				{/volist}
			{/empty}
			</tbody>
		</table>
	</div>
</div>
{/block}
